.project{
    width: 60%;
    margin: auto;
}

.title h2{
  padding-left: 20%;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 10px;
  
}

  .project hr{
    border-color: rgb(233, 231, 231);
   border-style: solid;

  }